<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>SpringBanking</display-name>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- loading the non servlet spring application context files -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/springbanking-context.xml
        </param-value>
    </context-param>
    <!-- JSP views -->
    <servlet>
        <servlet-name>springbankingview</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <!-- REST API -->
    <servlet>
        <servlet-name>springbankingrest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>springbankingview</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>springbankingrest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
